// Specific CSS for your home-page
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ede8f3;
}

.exp-container {
  min-height: 100vh;
  margin: 0 32px;


  h1 {
    text-align: center;
    padding: 64px 0 0 0;
  }

  h6 {
    text-align: center;
  }

}

.main-cards {
  background-color: #fff;
  border-radius: 8px;
  height: 480px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;

  img {
    width: 600px;
    padding: 16px;
  }
}
